[Unit]
Description=TeamCity Continuous Integration build agent

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=teamcity-server.service

# Dependency ordering
After=etcd.service
After=docker.service
After=teamcity-server.service

[Service]
# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Get CoreOS environmental variables
EnvironmentFile=/etc/environment

# Pre-start and Start
ExecStartPre=-/usr/bin/docker pull clayman/teamcity_agent
ExecStartPre=-/usr/bin/docker create --name teamcity-agent -e TEAMCITY_SERVER=http://${COREOS_PUBLIC_IPV4}:8111 -p 9090:9090 clayman/teamcity_agent
ExecStart=/usr/bin/docker start -a teamcity-agent

# Stop
ExecStop=/usr/bin/docker stop teamcity-agent

[X-Fleet]
MachineOf=teamcity-server.service